/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.phpintel/*
*.lock
*.iws
public/bower_components/

._.DS_Store

.DS_Store

.idea/
.phpstorm.meta.php
_ide_helper.php

public/assets/bower_components/

/build/logs/*
/build/testdox/*
/build/coverage/*
/storage/database.sqlite
public/docs

dist/
resources/views/*_public.php
.sass-cache/
config/app.php
/public/bower_components

app/Http/routes.php
composer.lock
composer.json
bower_*
.idea
.idea/workspace.xml